html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
}

body {
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	background: #FFFFFF;
	font-size: 1.3em;
}

p {
	color: #707070;
}

a, a:focus, a:hover {
	color: #000000;
	outline: none;
	text-decoration: none;
}

.btn {
	border-radius: 10px;
}

#sidebar{
	background-color: #000000;
	height: 100%;
	position: fixed;
	right: 0;
	padding: 75px 0 75px 0;
}

#author-full-name{
	color: #fff;
	font-size: 18px;
	padding-top: 10px;
}

#sidebar nav{
	margin: 5px;
}

#menu{
	text-align: center;
}

#main-container{
	margin: 50px;
	position: relative;
}

#header{
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #DBDBDB;
}

#nav{
	position: absolute;
	right: 0;
}

#title{
	margin: 0px;
	padding: 0px;
	margin-right: 150px;
}
.footer {
	margin: 0 auto;
	padding: 1em;
	border-top: 1px solid #DBDBDB;
}

.footer p {
	color: #aaa;
	font-size: 90%;
	text-align: center;
	text-transform: uppercase;
}

#comments{
	margin-top: 50px;
}

@media (max-width: 767px) {
	#sidebar{
		position: relative;
		width: 100%;
		padding: 10px 0 10px 0;
		height: auto;
	}
		
	#nav{
		position: relative;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}	
	#title{
		margin: 0;
	}
	
	#main-container{
		margin: 0px;
		padding: 0px;
		position: relative;
	}

}
/*
html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
}

body {
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	background: #FFFFFF;
	font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6{
}

p {
	color: #707070;
}

a, a:focus, a:hover {
	color: #000000;
	outline: none;
	text-decoration: none;
}

.btn {
	border-radius: 10px;
}

#main {
}


.footer {
	margin: 0 auto;
	padding: 1em;
	border-top: 1px solid #DBDBDB;
}

.footer p {
	color: #aaa;
	font-size: 90%;
	text-align: center;
	text-transform: uppercase;
}


#sidebar {
	background: #000000;
	height: 100%;
	position: fixed;
	right: 0;
	color: #C1C0C0;
	text-align: center;
	padding: 75px 0 75px 0;
	}

#sidebar p {
	font-size: 1.1em;
}

#sidebar h4 {
	color: #fff;
}

#sidebar div {
	margin: 2em 0;
}

#sidebar ul {
	margin: 0.6em 0;
	padding: 0;
	list-style: none;
}

#sidebar ul li {
	display: inline-block;
}

#sidebar ul li a {
	font-size: 0.8em;
}

#sidebar nav{
	margin: 5px;
}
.about nav{
	text-align: center;
}
#gravatar{
	text-align: center;
}
.posts{
	display:table;
	border-spacing: 1em .8em;
}
.post{
	display:table-row;
}
.post .post-time , .post .post-title{
	display: table-cell;
}
.post .post-time{
	color: #999;
}

.header{
	border-bottom: 1px solid #DBDBDB;
	margin-bottom: 20px;
}
.site-title{
	padding: 0px;
	margin: 0px;
}

#nav-post-header{
}

@media (max-width: 767px) {

	#sidebar {
		height: auto;
		position: relative;
		margin: 0;
		display: inline-block;
		width: 100%;
		padding: 10px 0 10px 0;
	}
	
	#nav-post-header{
	
	}
}

@media (min-width: 767px) {

	#main {
		padding: 10px 50px 10px 50px;
	}
	
	#nav-post-header{
		
	}
} */