{{ define "main" }}
<h1>
    <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
</h1>

<article class="markdown article">
    {{- .Content -}}
</article>

{{ template "section-children" (dict "Section" . "CurrentPage" $) }}
{{ end }}

{{ define "toc" }}
{{ partial "docs/taxonomy" . }}
{{ end }}


{{ define "section-children" }}{{/* (dict "Section" .Section "CurrentPage" .CurrentPage) */}}
<ul>
    {{ range (where .Section.Pages "Params.hidden" "ne" true) }}
    {{ if .IsSection }}
    <li {{- if .Params.BookFlatSection }} class="section-flat" {{ end -}}>
        {{ template "page-link" (dict "Page" . "CurrentPage" $.CurrentPage) }}
        {{ template "section-children" (dict "Section" . "CurrentPage" $.CurrentPage) }}
    </li>
    {{ else if and .IsPage .Content }}
    <li>
        {{ with .Date }}<span>{{ partial "docs/date" (dict "Date" . "Format" "2006-01-02") }}</span>{{ end }}
        {{ template "page-link" (dict "Page" . "CurrentPage" $.CurrentPage) }}
    </li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}