<header id="header">
	<a href="/">
	<img src="http://www.gravatar.com/avatar/a4e3f3d974bfdd573f2bb607617b82c1.png" alt="Piotr Kosmowski" id="gravatar"/>
	<p id="author-full-name">Piotr Kosmowski</p>
	<p id="slogan">Hi, I'm Piotr and I write code for food.</p>
</a>
</header>
<nav id="navigation">
	<div class="row">
		<a href="http://twitter.com/kospiotr" class="btn btn-default">Twitter</a>
		<a href="http://pl.linkedin.com/pub/piotr-kosmowski/25/379/467" class="btn btn-default">LinkedIn</a>
		<a href="{{site.baseurl}}blog" class="btn btn-default">Blog</a>
	</div>
	<div class="row">	
		<a href="http://github.com/kospiotr" class="btn btn-default">Github</a>
		<a href="/wiki" class="btn btn-default">Wiki</a>
	</div>
</nav>